.contentWrap{
    box-shadow: 5px 5px 5px -5px #5f27cd;
}
.TitleWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    cursor: pointer;
    position: relative;
    
}
.title:after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #5f27cd;
    height: 2px;
    width: 0px;
    transition: all .75s ease-out;
}
.title:hover:after{
    width: 100%;
    left: 0%;
}